﻿body {
  font-family: sans-serif;
}
table.excel {
  border-collapse: collapse;
}
table.excel td {
  border: 1px solid #EEE;
}
table.excel td > div {
  position: relative;
  width: 55pt;
  height: 16pt;
  overflow: hidden;
}
table.excel th,
table.excel td:first-child {
  background: #EEE;
}
table.excel th {
  text-align: center;
  font-weight: normal;
}
table.excel td:first-child {
  min-width: 2em;
}
table.excel input,
table.excel .excel-cell {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: white;
  font-size: 10pt;
  line-height: 16pt;
}
table.excel .excel-cell {
  pointer-events: none;
}
table.excel input:focus + .excel-cell {
  display: none;
}
