body { font-family: sans-serif; }
 
table.excel {
	border-collapse: collapse;
	
	td { 
		border: 1px solid #EEE; 
		& > div {
			position: relative;
			width: 55pt;
			height: 16pt;
			overflow: hidden;
		}
	}

	th, td:first-child {
		background: #EEE;
	}

	th {
		text-align: center;
		font-weight: normal;
	}

	td:first-child {
		min-width: 2em;
	}

	input,	.excel-cell { 
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		border: none;
		background: white;
		font-size: 10pt;
		line-height: 16pt;
	}

	.excel-cell { pointer-events: none; }
	input:focus + .excel-cell { display: none; }    
} 
