﻿<div data-ng-controller="excel">
	<table class="excel">
		<tr>
			<th></th>
			<th data-ng-repeat="column in columns">{{column}}</th>
		</tr>
		<tr data-ng-repeat="row in rows">
			<td>{{row}}</td>
			<td data-ng-repeat="column in columns">
				<div data-ng-init="cells[column+row] = ''">
					<input data-ng-model="cells[column+row]" />
					<div class="excel-cell" data-ng-bind="compute(column+row)"></div>
				</div>
			</td>
		</tr>
	</table>
</div>